h1 {
  font-weight: 100;
  padding: 20px;
  font-size: 45px;
  margin: 10px;
}
#todo{
  background-color: rgba(74, 66, 66, 0.381);
  margin: 20px;
  padding: 40px;
  width: 60%;
  border-radius: 2px;
}